<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	backgroundColor="rgba(0,0,0,1)"
	galleryTitle="Retrato cubano: La isla y el hombre"
	indexPageName="cuba.html"

>
  <image imageURL="images/01.jpg"
	thumbURL="thumbs/01.jpg"
	linkURL="images/01.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/01.jpg">
    <title><![CDATA[01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/02.jpg"
	thumbURL="thumbs/02.jpg"
	linkURL="images/02.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/02.jpg">
    <title><![CDATA[02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/03.jpg"
	thumbURL="thumbs/03.jpg"
	linkURL="images/03.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/03.jpg">
    <title><![CDATA[03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/4.jpg"
	thumbURL="thumbs/4.jpg"
	linkURL="images/4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/4.jpg">
    <title><![CDATA[4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/04.jpg"
	thumbURL="thumbs/04.jpg"
	linkURL="images/04.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/04.jpg">
    <title><![CDATA[04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/05.jpg"
	thumbURL="thumbs/05.jpg"
	linkURL="images/05.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/05.jpg">
    <title><![CDATA[05]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/06.jpg"
	thumbURL="thumbs/06.jpg"
	linkURL="images/06.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/06.jpg">
    <title><![CDATA[06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/07.jpg"
	thumbURL="thumbs/07.jpg"
	linkURL="images/07.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/07.jpg">
    <title><![CDATA[07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/08.jpg"
	thumbURL="thumbs/08.jpg"
	linkURL="images/08.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/08.jpg">
    <title><![CDATA[08]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/09.jpg"
	thumbURL="thumbs/09.jpg"
	linkURL="images/09.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/09.jpg">
    <title><![CDATA[09]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/10.jpg"
	thumbURL="thumbs/10.jpg"
	linkURL="images/10.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/10.jpg">
    <title><![CDATA[10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/11.jpg"
	thumbURL="thumbs/11.jpg"
	linkURL="images/11.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/11.jpg">
    <title><![CDATA[11]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/12.jpg"
	thumbURL="thumbs/12.jpg"
	linkURL="images/12.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/12.jpg">
    <title><![CDATA[12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/13.jpg"
	thumbURL="thumbs/13.jpg"
	linkURL="images/13.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/13.jpg">
    <title><![CDATA[13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/14.jpg"
	thumbURL="thumbs/14.jpg"
	linkURL="images/14.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/14.jpg">
    <title><![CDATA[14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/15.jpg"
	thumbURL="thumbs/15.jpg"
	linkURL="images/15.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/15.jpg">
    <title><![CDATA[15]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/16.jpg"
	thumbURL="thumbs/16.jpg"
	linkURL="images/16.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/16.jpg">
    <title><![CDATA[16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/17.jpg"
	thumbURL="thumbs/17.jpg"
	linkURL="images/17.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/17.jpg">
    <title><![CDATA[17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/18.jpg"
	thumbURL="thumbs/18.jpg"
	linkURL="images/18.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/18.jpg">
    <title><![CDATA[18]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/19.jpg"
	thumbURL="thumbs/19.jpg"
	linkURL="images/19.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/19.jpg">
    <title><![CDATA[19]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20.jpg"
	thumbURL="thumbs/20.jpg"
	linkURL="images/20.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/20.jpg">
    <title><![CDATA[20]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/21.jpg"
	thumbURL="thumbs/21.jpg"
	linkURL="images/21.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/21.jpg">
    <title><![CDATA[21]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/22.jpg"
	thumbURL="thumbs/22.jpg"
	linkURL="images/22.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/22.jpg">
    <title><![CDATA[22]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/23.jpg"
	thumbURL="thumbs/23.jpg"
	linkURL="images/23.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/23.jpg">
    <title><![CDATA[23]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/24.jpg"
	thumbURL="thumbs/24.jpg"
	linkURL="images/24.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/24.jpg">
    <title><![CDATA[24]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/25.jpg"
	thumbURL="thumbs/25.jpg"
	linkURL="images/25.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/25.jpg">
    <title><![CDATA[25]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/26.jpg"
	thumbURL="thumbs/26.jpg"
	linkURL="images/26.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/26.jpg">
    <title><![CDATA[26]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/27.jpg"
	thumbURL="thumbs/27.jpg"
	linkURL="images/27.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/27.jpg">
    <title><![CDATA[27]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/29.jpg"
	thumbURL="thumbs/29.jpg"
	linkURL="images/29.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/29.jpg">
    <title><![CDATA[29]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/30.jpg"
	thumbURL="thumbs/30.jpg"
	linkURL="images/30.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/30.jpg">
    <title><![CDATA[30]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/32.jpg"
	thumbURL="thumbs/32.jpg"
	linkURL="images/32.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/32.jpg">
    <title><![CDATA[32]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/33.jpg"
	thumbURL="thumbs/33.jpg"
	linkURL="images/33.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/33.jpg">
    <title><![CDATA[33]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/34.jpg"
	thumbURL="thumbs/34.jpg"
	linkURL="images/34.jpg"
	linkTarget="_blank"
	sourcePath="/Users/admin/Downloads/Cuba portafolio/34.jpg">
    <title><![CDATA[34]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>